<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Hr Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.hirreng.project.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHR</display-name>
    <servlet-name>AddHR</servlet-name>
    <servlet-class>com.hirreng.project.AddHR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHR</servlet-name>
    <url-pattern>/AddHR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HRLogin</display-name>
    <servlet-name>HRLogin</servlet-name>
    <servlet-class>com.hirreng.project.HRLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HRLogin</servlet-name>
    <url-pattern>/HRLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddJob</display-name>
    <servlet-name>AddJob</servlet-name>
    <servlet-class>com.hirreng.project.AddJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJob</servlet-name>
    <url-pattern>/AddJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Personal</display-name>
    <servlet-name>Personal</servlet-name>
    <servlet-class>com.hirreng.project.Personal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Personal</servlet-name>
    <url-pattern>/Personal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Result</display-name>
    <servlet-name>Result</servlet-name>
    <servlet-class>com.hirreng.project.Result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Result</servlet-name>
    <url-pattern>/Result</url-pattern>
  </servlet-mapping>
</web-app>